   .conctato_contenedor{
        background-color: $bg-secundary;
        padding: 20px;
        @include flexblox3;
        border: 10px;
        margin-top: 40px; 
        margin-bottom: 40px;  
    }
    .img_conctato{
        height: 200px;
        border-radius: 10px;
        border: 1px solid $bg-acento;
        margin: 20px;
        width: 80%;
    }
    .imprecionar_quienes{
        @include flexblox3;
        color: $bg-acento;
        font-size: nth($size,1);
    }
    .title_contacto{
        font-weight: 600;
    }
    .cta_btn_1{
        @include boton;
        transition: all 1s;
        &:hover{
            color: $bg-terciary;
            transform: scale(1.1); 
        }  
    }





