.footer_color{
    background-color: $bg-primary ;
    .titule{
        color: $bg-terciary;
        font-size: nth($size,3);
    
    }
    .subtitulo{
        color: $bg-terciary;
        font-size: nth($size,4);
       
    }
    a{
        color: $bg-terciary;
        text-decoration: none;
        font-size: nth($size,6);
       
    }
    .icon_intagran{
        margin: 15px;
    }
}

.copy_h3{
    text-align: center;
    margin: 5px;
}