.footer_color{
    background-color: $bg-primary ;
    .titule{
        color: $bg-terciary;
        font-size: nth($size,4);
    
    }
    .subtitulo{
        color: $bg-terciary;
        font-size: nth($size,4);
    }
    a{
        color: $bg-terciary;
        text-decoration: none;
        font-size: nth($size,6);
       
    }
    .icon_intagran{
        margin: 20px;
    }
}

@media screen and (max-width: 510px){
    .div{
        font-size: nth($size,7);
    }
  
}

.copy_h3{
    text-align: center;
    margin: 5px;
}
@media screen and (max-width: 510px){
    .copy_h3{
        font-size: nth($size,1);
    }
}