.title_dos{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 15px;
    font-size: nth($size,4);
    
}
.formulario_1{
    @include flexblox3;
    font-size: nth($size,2);
    padding-bottom: 20px;
    .quienes_somos{
        box-shadow: 1px 2px 10px #000;
    }
    .formulario{
        padding: 10px;
        font-size: nth($size,2);
    }
    .cta_btn_2{
        @include botonuno;
        font-size: nth($size,2);
        &:hover{
            color: $bg-terciary;
            width: 220px;
            transition: 1s;
        }  
    }
   
 }
