
.icon_arrow{
    @include icono_arrow;
    width: 70px;
    height: 70px;
    right: 80px;
    bottom: 50px;
    font-size: nth($size,6);
}

@media screen and (max-width: 768px) {
    .icon_arrow{
        display: none;
    }
    
}



    


