.quienes_somos{
    background-color: $bg-secundary;
    .titule_yks{
        text-align: center;
        color: $bg-acento;
        padding-top: 20px;
    }

    .parrafo{
        font-size: nth($size,2);
        text-align: center;
        margin: 30px;
        padding: 10px;   
    }
    .ysi_img{
        @include foto;
        object-fit: cover;
        object-position: 90% 20%;   
    }
} 
    @media screen and (max-width: 510px){
        .ysi_img{
            width: 250px;
            height: 250px;
    }
}
.parrafo_1{
    font-size: nth($size,2);
    margin:40px 0px 30px 0px;
    font-weight: 800;
}
.parrafo_2{
    font-size: nth($size,2);
   
    font-weight: 100;  
}

    

.img_envio{
    @include foto;
    margin: 100px 100px 20px 150px;
}
@media screen and (max-width: 520px){
    .img_envio{
        width: 300px;
        height: 300px;
        margin: 40px;
    }
}



