.quienes_somos{
    background-color: $bg-secundary;
    .titule_yks{
        text-align: center;
        color: $bg-acento;
        padding-top: 30px;
    }
    .titule_yks_1{
        text-align: center;
        color: $bg-acento
    }
    .parrafo{
        font-size: nth($size,2);
        text-align: center;
        margin: 40px;
        padding: 10px;   
    }
    .ysi_img{
        @include foto;
        object-fit: cover;
        object-position: 90% 20%;   
    }
} 
    @media screen and (max-width: 510px){
        .ysi_img{
            width: 250px;
            height: 250px;
    }
}
.parrafo_1{
    font-size: nth($size,2);
    margin: 40px;
}
.img_envio{
    @include foto; 
}
@media screen and (max-width: 510px){
    .img_envio{
        width: 300px;
        height: 300px;
    }
}



