
.nav_color{
    background-color: $bg-primary;
    .nav_color_links{
         color:$bg-terciary;
         font-size: nth($size,2);

         &:hover{
         color: $bg-secundary;
        }
    }
    a{
        img{
            width: 150px;
        }
    }
}